{% extends 'base.html' %}
{% block title %}Поиск по категориям{% endblock %}
{% block menu %}
    {% include 'partial/navbar_links.html' %}
{% endblock %}
{% block content %}
    <h1 class="text-center">А вот извольте-ка посмотреть на остров, остров, где всё у нас есть! </h1>
    <h2 class="text-center mt-5 mb-5">Товары в категории <strong>{{ category.1 }}</strong></h2>
    <div class = 'row justify-content-center'>
        {% if items %}
            {% include 'partial/item_list.html' %}
        {% else %}
            <h3 class="text-center mt-5 mb-5">Нет товаров в данной категории</h3>
        {% endif %}
    </div>
    <div class="row justify-content-center mt-5">
        <a href="{% url 'main' %}" class="btn btn-outline-dark ">Вернуться на главную</a>
    </div>
{% endblock %}