{% extends 'base.html' %}
{% block title %} Покупай-отдыхай! {% endblock %}
{% block menu %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'item_add' %}">Продать</a>
    </li>
     <form class="form-inline ml-auto" method="GET" action="{% url 'item_search' %}">
            {% load widget_tweaks %}
            {%  csrf_token %}
            {{ search.search_text|add_class:'form-control mr-sm-2'}}
            <button class="btn btn-info my-2 my-sm-0" type="submit">Найти</button>
        </form>
{% endblock %}
{% block content %}
    <h1 class="text-center">А вот извольте-ка посмотреть на остров, остров, где всё у нас есть! </h1>
    <div class="row justify-content-center pb-2 pt-2">
        {% for item in items %}
            <div class="card ml-2 mr-2 mb-2 " style="width: 18rem;">
                <div class="card-header">
{#                    <div class="form-check d-inline">#}
{#                        <input class="form-check-input position-relative"#}
{#                               type="checkbox" name= "delete_check" value={{ item.pk }}>#}
{#                    </div>#}
                    <h4 class="card-title text-center d-inline">{{ item.name }}</h4>
                </div>
                <div class="card-body d-flex flex-column">

                    <h5 class="card-subtitle mb-2 text-muted mt-auto">{{ item.get_category_display }}</h5>
                    <h6>{{ item.price }}</h6>
                    <div class = "btn-group btn-group-sm mt-auto">
                        <a class = "btn btn-outline-info" href="{% url 'item_view' item.pk %}">Посмотреть товар</a>
                        <a class = "btn btn-outline-info" href="{% url 'item_update' item.pk %}">Обновить продажу</a>
{#                        <a class = "btn" href="{% url 'action_delete' item.pk %}">Удалить задачу</a>#}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}